
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container">
 
  <div class="navbar-brand">
    <h1 class="text-white">Actividad#3 Docker </h1>
  </div>


  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
    
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="/usuariocrud" routerLinkActive="active">CRUD</a>
      </li>
      
    </ul>
  
  </div>


</div>
</nav>

<div class="container p-3">
  <div class="card" >
    <img src="../assets/imagenes/Docker_Architecture.png" alt="">
  </div>
</div>


  <div class="div">

  <router-outlet></router-outlet>

</div>